<pgcard TimeOut="3000" ProgressType="bar" AdditionalClasses="widget-8 card no-border {{_bgColor}} no-margin widget-loader-bar" Maximize="false" Toggle="false"
 Close="false" BodyClass="no-padding">
	<ng-template #CardTitle>
		<span class="font-montserrat fs-11 all-caps">
			Rekening
			<i class="fa fa-chevron-right"></i>
		</span>
	</ng-template>
	<div class="container-xs-height full-height">
		<div class="row-xs-height ">
			<div class="col-xs-height col-top" #chartContainer>
				<div class="row">
					<div class="col-sm-6">
						<div class="p-l-20">
							<h3 class="no-margin p-b-5 text-white"> Saldo: IDR. 14.000.000</h3>

							<p class="hint-text m-t-5">
								<a href="javascript:void(0)" class="btn-circle-arrow text-white"><i class="pg pg-arrow_minimize"></i></a><span class="label  font-montserrat m-r-5">113032123421</span><b>Ilham Mudzakir</b> 
							</p>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="widget-8-chart line-chart" data-line-color="black" data-points="true" [attr.data-point-color]="_pointColor" data-stroke-width="2">
					<nvd3 [options]="chartOptions" [data]="chartData"></nvd3>
				</div>
			</div>
		</div>
	</div>
</pgcard>