<pgcard TimeOut="3000" AdditionalClasses="widget-9 card no-border no-margin widget-loader-bar {{_bgColor}}" Maximize="false" Toggle="false"
 Close="false" BodyClass="no-padding">
	<ng-template #CardTitle>
		<span class="font-montserrat fs-11 all-caps">
			Monhtly Out
			<i class="fa fa-chevron-right"></i>
		</span>
	</ng-template>
	<div class="full-height d-flex flex-column">
			<div class="p-l-20">
				<h3 class="no-margin p-b-5 text-white">IDR. 132.000.000.</h3>
				<a href="javascript:void(0)" class="btn-circle-arrow text-white"><i
						class="pg pg-arrow_maximize"></i>
				</a>
				<span class="small hint-text text-white">65% Highly than last month</span>
			</div>
			<div class="m-t-10">
				<div class="progress progress-small m-b-20">
					<!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
					<div class="progress-bar progress-bar-white" style="width:45%"></div>
					<!-- END BOOTSTRAP PROGRESS -->
				</div>
			</div>
		</div>
</pgcard>
