<pgcard TimeOut="3000" AdditionalClasses="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column" ProgressType="bar" Maximize="false" Toggle="false" Close="false" BodyClass="no-padding" HeaderClass="top-right">
	<div class="padding-25">
		<div class="pull-left">
			<h2 class="text-success no-margin">Mutasi</h2>

			<p class="no-margin">Today's out</p>
		</div>
		<h3 class="pull-right semi-bold">
			<sup>
				<small class="semi-bold">IDR</small>
			</sup> 102,967
		</h3>
		<div class="clearfix"></div>
	</div>
	<div class="auto-overflow widget-11-2-table">
		<table class="table table-condensed table-hover">
			<tbody>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small"><b>OUT</b></span>
					</td>
					
					<td class="w-25">
						<span class="font-montserrat fs-18">IDR. 100.000</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="padding-25 widget-footer">
		<p class="small no-margin">
			<a href="javascript:void(0)">
				<i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i>
			</a>&nbsp;&nbsp;
			<span class="hint-text ">Show more details</span>
		</p>
	</div>
</pgcard>