.widget-1-wrapper{
    @media (max-width: 480px){
      height: 340px;
    }
}
@media (max-width: 992px){
  .pt_title {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
  }
}
.highcharts-container{
  width: 100% !important;
}
.highcharts-root{
  width: 100% !important;
}
.ngx-charts{
  height: 100%!important;
}
.div_bg_mark{
  position: absolute;
  background-color: #005072;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: .25rem 0 0 .25rem;
}
.div_out_img{
  padding-top: 5px;
  padding-bottom: 6px;
  height: 0px;
  width: 30px;
}
.div_in_img{
    width: 30px;
    opacity: 0;
}