<!-- START CONTAINER FLUID -->
<div class="container padding-25 sm-padding-10 sm-gutter" (window:resize)="onScroll()">
 
  <div class="row">
    <div class="col-md-12">
      <div class="form-group form-group-default required" [class.has-error]="modalAppName.invalid && (modalAppName.dirty || modalAppName.touched)" >
        <label>Search by City Name</label>
        <input type="text" placeholder="Department"  class="form-control" id="appName" name="appName" [(ngModel)]="appName"  #modalAppName="ngModel" required>
    </div>
    </div>
    <div class="col-md-12">
      
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->