<pgcard TimeOut="3000" AdditionalClasses="widget-11 card no-border  no-margin widget-loader-bar full-height" ProgressType="bar" Maximize="false" Toggle="false" Close="false" BodyClass="no-padding">
	<ng-template #CardTitle><b>Most Active Company in Month</b></ng-template>
	<div class="widget-11-table auto-overflow">
		<table class="table table-condensed table-hover">
			<tbody>
				<tr *ngFor="let key of countMostActive">
					<td class="font-montserrat all-caps fs-12">{{ key.company_name }} </td>
					<td class="text-right">
						<span class="small">{{ key.department_name }}</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">{{ key.count_total }}</span>
					</td>
				</tr>					
			</tbody>
		</table>
	</div>
</pgcard>