<pgcard TimeOut="3000" AdditionalClasses="widget-10 card no-border bg-white no-margin widget-loader-bar" Maximize="false" Toggle="false"
 Close="false" ProgressType="bar">
	<ng-template #CardTitle>
		<span class="font-montserrat fs-11 all-caps">
			Rekening baru
			<i class="fa fa-chevron-right"></i>
		</span>
	</ng-template>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default">
				<h4 class="no-margin p-b-5 text-danger semi-bold">Tambah Rekening</h4>
			</button>

			<div class="small p-t-5">
				<span>Buka rekening tabungan rencana dan deposito baru</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</pgcard>