$slider-width: 400px;
$slider-height: 300px;

@font-face {
    font-family: evenir;
    src: url('/assets/fonts/evenir/AvenirLTStd-Book.otf');
}

body{
    background: #fafafa;
    font-family: evenir!important;
}

.header-ds{
    background: #fff;
    border: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 5px;
}
.title-ds{
    font-weight: bold;
    color: #0066B3;
    font-family: evenir;
}
.box-card{
    background: linear-gradient(180deg, #0066B3 0%, #0C446D 99.48%);
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: evenir;
}
.top-ds p{
    color: #0066B3;
    font-size: 24px;
    font-family: evenir;
}

.img-room{
    height: 250px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.inner-room{
    padding: 10px;
}
.desc-room{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(360deg, #383939 0%, rgba(196, 196, 196, 0) 44.8%);
    margin-left: -10px;
    margin-top: -10px;
    padding-top: 210px;
    padding-left: 10px;
    font-size: 24px;
    color: #fff;
    border-bottom-left-radius: 5px;
    font-family: evenir;
}
.title-room{
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 15px rgba(0, 0, 0, 0.3);
    font-weight: 800;
    font-family: evenir;
}
.no-padding{
    padding: 0px!important;
}
.head-detail-room{
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: evenir;
}
.head-detail-room p{
    line-height: 22px;
    font-size: 16px;
    font-family: evenir;
}
.upcom{
    line-height: 22px;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: evenir;
}
.box-detail-room{
    padding: 20px;
    height: 250px;
    font-family: evenir;
    
}
.content-detail-room{
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: evenir;
    height: 100px;
    transition: all 1s;
    padding-top: 30px;
}
.comming{
    color: #86A4BB;
    font-family: evenir;
    top: -30px;
    position: relative;
    
}
.now{
    height: auto;
    color: #fff;
    height: 0px;
    height: auto;
    padding-top: 0px;
}

.box-upcomming{
    height: 100px;
    overflow: hidden;
}

::ng-deep .carousel-item {
    display: block !important;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    transition:all  1s;
  }
  
  ::ng-deep .carousel-item.active {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }

  .carousel-control{
      display: none!important;
  }

  .carousel-item {
    /* Force to always be block */
    display: block !important;
    z-index: 1;
    position: absolute;
    transform: translateX(100%);
    opacity: 1;
    transition:all  2s;
    visibility: hidden;
  }
  
  .carousel-item.active {
    position: relative;
    transform: translateX(0);
    visibility: visible ;
    opacity: 1;
  }