<div class="header-ds">
  <div class="container">
    <img src="assets/img/logo-csi.png" alt="logo" class="brand" pgRetina src1x="assets/img/logo-csi.png" src2x="assets/img/logo-csi.png" >
  </div>
</div>

<div class="container">
  <br>
  <div class="row top-ds">
    <div class="col-sm-6">
      <h3 class="title-ds">Gedung Graha Pertamina Gambir</h3>
    </div>
    <div class="col-sm-6 text-right">
      <p style="font-weight: bolder;" id="time">{{this.time}}</p>
      <p style="font-size:18px" id="day" >{{this.day}}</p>
    </div>
  </div>

  <div class="row mt-4" *ngFor="let key of dataRoom.response; let i = index">
    <div class="col-sm-4 no-padding">
         <carousel [showIndicators]="false" [interval]="10000">
        <slide *ngFor="let keyImg of key.image; let a = index">
            <div class="img-room" [ngStyle]="{'background': 'url('+keyImg.image+') center','background-size': 'cover'}">
              <div class="inner-room">
                <div class="desc-room">
                  <span>{{key.name}}</span>
                </div>
                  <span class="title-room">
                     {{key.floor_name}}
                    </span>
              </div>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="col-sm-8 box-card  no-padding">
      <div class="box-detail-room">
          <div class="head-detail-room">
            <p>Today's schedule:</p>
            <p><b>{{ key.booking?.length || '0' }} Meetings</b></p>
          </div>
          <p class="upcom">{{key.booking?.length  ? 'Upcoming schedule' : 'Empty'}}</p>
          <!-- <img src="/assets/img/mantap.gif" alt="logo" class="brand" pgRetina width="500px"> -->
          <div class="box-upcomming" >
            <div *ngFor="let sliding of slides; let sl = index">
              <div *ngIf="sl===i" >
                <div class="content-detail-room" *ngFor="let itemBooking of sliding; let x = index"  [ngClass]="x== 0?'now':'comming'" id="detail-room-{{i}}-{{x}}">
                  <div>
                      <span>{{itemBooking.date_start?.substring(11,16)}} - {{itemBooking.date_end?.substring(11,16)}}</span>
                  </div>
                <div>
                  <span>{{itemBooking.title}}</span>
                </div>
              </div>
            </div>
            </div>
            

          </div>
      </div>
    </div>
  </div>


</div>