<pg-header boxed="true">
    <div class="container pad-header">
        <div class="header-inner header-md-height">
            <a href="javascript:void(0)" class="btn-link toggle-sidebar d-lg-none pg pg-menu" (click)="toggleHorizontalMenuMobile()">
            </a>
            <div class="">
              <div class="header-inner justify-content-start header-lg-height title-bar">
                <!-- <div class="brand inline align-self-end">
                  <img src="assets/img/logo_s.png" alt="logo" pgRetina src1x="assets/img/logo_s.png" src2x="assets/img/logo_s_2x.png" width="17" height="20">
                </div> -->
                <h2 class="page-title align-self-end">
                  HRIS App
                </h2>
              </div>
              <!-- END NOTIFICATIONS LIST -->
              <a href="javascript:void(0)" class="search-link d-lg-inline-block d-none"><!--<i class="pg pg-search"></i>Type anywhere to <span class="bold">search</span>--></a>
            </div>
            <div class="d-flex align-items-center nav_right">
              <!-- START User Info-->
              <a href="javascript:void(0)" class="header-icon pg btn-link mr-2 d-inline-block" (click)="openQuickView($event)">
                <img src="../../../../assets/img/bell.svg" style="height: 15px;">
              </a>
              <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">{{ adminSession.data.user.name }}</div>
              <div class="dropdown pull-right" dropdown>
                  <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown" style="cursor: pointer;">
                    <span class="thumbnail-wrapper d32 circular inline">
                    <img src="{{ adminSession.data.user.profile_picture.link }}" width="32" height="32">
                    </span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
                    <!--<a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-settings_small"></i> Settings</a>
                    <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-outdent"></i> Feedback</a>
                    <a href="employee/profile/{{adminSession.data.user.id_employee}}" class="dropdown-item"><i class="fs-13 pg pg-signals"></i> Profile</a>-->
                    <a href="settings/change_password" class="dropdown-item"><i class="fs-13 pg pg-signals"></i> Change Password</a>
                    <a href="javascript:void(0)" class="clearfix bg-master-lighter dropdown-item" (click)="logout()">
                      <span class="pull-left">Logout</span>
                      <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
                    </a>
                  </div>
              </div>
              <!-- END User Info-->
            </div> 
        </div>
        <pg-horizontal-menu [Items]="menuLinks" HideExtra="0">
            <ng-template #mobileSidebarFooter>
                <!--<a href="javascript:void(0)" class="search-link d-flex justify-content-between align-items-center d-lg-none" (click)="openSearch($event)">Tap here to search <i class="pg pg-search float-right"></i></a>-->
            </ng-template>
        </pg-horizontal-menu>
    </div>
</pg-header>
<div class="page-container">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper {{_pageContainerClass}}">
    <!-- START PAGE CONTENT -->
    <div class="content {{_contentClass}}">
        <router-outlet></router-outlet>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- START COPYRIGHT -->
    <!-- START CONTAINER FLUID -->
    <ng-template [ngIf]="_footer">
      <div class=" container   container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2020 </span>
            &nbsp;<span class="font-montserrat">CSI</span>.&nbsp;
            <span class="hint-text">All rights reserved. </span>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </ng-template>
    <!-- END COPYRIGHT -->
    </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->