.login-wrapper .bg-pic>.img-holder{
    width:70%;
    opacity:1;
}
.hyperlink{
    font-weight: bold;
    text-decoration: underline;
    color: #0182FE;
}
.hyperlink:hover, .hyperlink:focus{
    text-decoration: underline;
    color: #88CCFF;
}
.btn_close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.icon_button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.bg-pic{
    background:  #718093;
}

.login-wrapper[_ngcontent-nld-c2] .bg-pic[_ngcontent-nld-c2] > .img-holder[_ngcontent-nld-c2]{
    width: 65%!important;
    border-right : 1px solid #eee; 
}
.weither{
    width: 50%;
    float: right;
    position: absolute;
    padding-top: 30px;
    color: #fff;
}
.table-weither{
    width: 100%;
    font-size: 15px;
}
.table-weither td{
    width: 50%;
    text-align: center;
}
#parameter-max{
    margin-left:5px;
}

#parameter-min{
    margin-left:5px;
}