<div class="login-wrapper " style="background: #F4D40C;">
	<!-- START Login Background Pic Wrapper-->
	<div class="bg-pic">
	</div>
	<!-- END Login Background Pic Wrapper-->
	<!-- START Login Right Container-->
	<div id="weither" class="weither hide">
		<div class="text-center">
			<img id="image-icon" src="" alt="">
			<h3><b id="temp-main">28.31</b>&#176; C</h3>
			<i class="fa fa-map-marker" id="location"> Jakarta</i>
		</div>
		<div>
			<table class="table-weither">
				<tr>
					<td>
						<i class="fa fa-thermometer-full"></i> <span id="parameter-max"></span>
					</td>
					<td id="cuaca">
						Rain
					</td>
				</tr>
				<tr>
					<td>
						<i class="fa fa-thermometer-half"></i> <span id="parameter-min"></span>
					</td>
					<td id="country">
						Rain
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="login-container">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			
			<form (ngSubmit)="onSubmit(loginForm)" class="p-t-15" role="form" #loginForm="ngForm">
				<!-- START Form Control-->
				<div pgFormGroupDefault  style="border: 0px;" class="form-group form-group-default" [class.has-error]="loginemail.invalid && (loginemail.dirty || loginemail.touched)">
					<label>Search City</label>
					<input type="email" id="email" name="email" [(ngModel)]="email"  #loginemail="ngModel" required  placeholder="Enter your Username" class="form-control">
				</div>
				<div *ngIf="loginemail.invalid && (loginemail.dirty || loginemail.touched)" >
					<label  *ngIf="loginemail.errors.required" class="error" >This field is required.</label>
				</div>

				<div id="notif" class="alert alert-danger text-white hide" role="alert">
					<strong>Danger: </strong>The daily report has failed
				  </div>
				<!-- END Form Control-->
				<div class="row mt-3">
					<div class="col-md-6 no-padding sm-p-l-10 text-left">
						<button class="btn btn-complete btn-cons m-t-10" type="submit" [class.disabled]="loginForm.invalid">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- END Login Right Container-->
</div>