<div id="quickview" class="quickview-wrapper" [class.open]=isOpen>
	<!-- Nav tabs -->
	<tabset>
		
		<tab heading="" id="quickview-alerts" active="true" customClass="full-height head-alert" style="padding-bottom: 10px;">
		  <div class="view-port clearfix" id="alerts">
			<!-- BEGIN Alerts View !-->
			<div class="view bg-white">
					<div class="full-height d-flex flex-column">
						<!-- BEGIN View Header !-->
						<div class="navbar navbar-default navbar-sm">
							<div class="navbar-inner">
								<!-- BEGIN Header Controler !-->
								<!-- <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
									<i class="pg pg-more"></i>
								</a> -->
								<!-- END Header Controler !-->
								<div class="view-heading">
									Notifications
								</div>
								<!-- BEGIN Header Controler !-->
								<!-- <a href="javascript:void(0)" class="inline action p-r-10 pull-right link text-master">
									<i class="pg pg-search"></i>
								</a> -->
								<!-- END Header Controler !-->
							</div>
						</div>
						<!-- END View Header !-->
						<!-- BEGIN Alert List !-->
						<div perfectScrollbar class="full-height list-view boreded no-top-border">
							<!-- BEGIN List Group !-->
							<div class="list-view-group-container" style="padding-top: 5px;">
								<a href="javascript:;" class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
									<ul style="padding-bottom: 10px;">
										<li style="padding-bottom: 5px;padding-top: 5px;">
											<span class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
												<p class="p-l-10 overflow fs-12">
													<span class="text-master">
														<b>30 January 2020, 12:00</b>
													</span>
												</p>
											</span>
										</li>
										
										<li class="alert-list">									
											<p class="">
												<span class="text-warning fs-10">
													<img src="../../../../assets/img/info-request.png">
												</span>
											</p>
											<p class="p-l-10 overflow fs-12">
												<span class="text-master">
													New schedule request : <br/> 
													<b>Rapat Anggaran</b> on <b>15 February 2020</b> at <b>Nusantara Meeting Room</b> by <b>Hudan Abdul</b>
												</span>
											</p>									
										</li>
									</ul>
								</a>								
							</div>
							<!-- END List Group !-->
						</div>
						<!-- END Alert List !-->
					</div>
			</div>
			<!-- EEND Alerts View !-->
		  </div>
		</tab>
		
	</tabset>
	<a class="btn-link quickview-toggle" (click)="toggle()" style="color: white;"><i class="pg pg-close"></i></a>
	</div>