/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.login-wrapper {
    background-color: #25a54e!important;
}
body{
  font-family: 'Roboto', sans-serif!important;
  background-color: #000!important;
}
.breadcrumb a{
  opacity: 1!important;
  color: #555!important;
}
h4 b{
  font-weight: 500;
}
b{
  font-weight: 500;
  color: #333333!important;
}
.header{
  -webkit-box-shadow: 0px 6px 8px -1px rgb(37, 37, 37);
  -moz-box-shadow: 0px 6px 8px -1px rgba(37,37,37,1);
  box-shadow: 0px 6px 8px -1px rgba(37,37,37,1);
}
.card-default{
  border-radius: 7px!important;
}
/*.breadcrumb{
    margin-left: -50px!important;
}*/
.small_cal .cal-month-view .cal-cell-top {
  min-height: 50px!important;
}
.cal-month-view .cal-day-number{
  margin-top: 13px;
}
.small_cal .cal-month-view .cal-day-cell {
  min-height: 50px!important;
  max-width: 40px;
  min-width: 40px;
  text-align: center;
  margin-left: 0px;
  margin-right: 11px;
}
.centerin{
  position: relative;
  float: none!important;
  right: 0px;
  left: 0px;
  margin: 0 auto;
}
.pad-header{
  padding-left: 25px;
  padding-right: 0px;
}
.horizontal-app-menu .header .page-title{
  font-weight: bolder!important;
  margin-left: 0px!important;
}
.progress-card{
  height: 40px; 
  padding-left: 25px; 
  padding-right: 25px;
  margin-bottom: 30px;
}
.progress-blue{
  background-color: rgba(32,157,224,0.2)!important;
}
.progress-blue .progress-bar-primary{
  background-color: rgba(32,157,224,1)!important;
}
.progress-green{
  background-color: rgba(125,171,50,0.2)!important;
}
.progress-green .progress-bar-primary{
  background-color: rgba(125,171,50,1)!important;
}
.progress-purple{
  background-color: rgba(171,129,243,0.2)!important;
}
.progress-purple .progress-bar-primary{
  background-color: rgba(171,129,243,1)!important;
}
.progress-yellow{
  background-color: rgba(242,186,57,0.2)!important;
}
.progress-yellow .progress-bar-primary{
  background-color: rgba(242,186,57,1)!important;
}
.btn-section{
  position: relative;
  top: -45px;
  border: 0px;
  background-color: #005072!important;
  color: #fff;
  font-family: 'Roboto';
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
}
.btn-section i{
  font-weight: 300;
}
.total-employee{
  padding: 20px 0px;
  position: relative;
  top: -20px;
}
.total-employee span{
  font-size: 25px;
  margin-bottom: 20px;
  color: #333333;
  margin-top: 10px;
  top: 10px;
  position: relative;
}
.total-employee p{
  font-weight: bolder;
  font-size: 20px;
  color: #000000;
  position: relative;
  top: 15px;
}
.progress-card span{
  font-size: 17px;
}
.total-employee .box-icon{
  width: 100%;
  height: 70px;
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  text-align: center;
  padding:10px;
  padding-top: 20px;
}
.total-employee .box-icon i {
  font-size: 30px!important;
}
.cal-month-view{
  top: -30px;
  position: relative;
}
.head-cal{
  top: -30px;
  position: relative;
}
.small_cal .cal-month-view .cal-day-number {
  line-height: 1;
}
.small_cal .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em!important;
}

.cal-month-view .cal-day-cell:not(:last-child){
  border: 0px;
}
.small_cal .cal-month-view .cal-day-cell{
  max-height: 40px!important;
  min-height: 40px!important;
}
.cal-month-view .cal-days .cal-cell-row{
  border: 0px;
}
.cal-month-view .cal-days{
  border: 0px;
}
.cal-month-view .cal-day-number{
  opacity: 1;
}
.cal-month-view .cal-day-cell.cal-today{
  background: #005072;
  opacity: 1;
  color: #fff;
  border-radius: 2000px;
}
.select-form{
  background: rgb(26,56,96,0.1);
  border: 0px;
  color: #768291;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #EDEDED;
}
.select-default{
  border: 1px solid #eeee;
}
.select-default .pg-select-selection__rendered{
  border-bottom: 1px solid #eeee!important;
}
.pg-select-selection__rendered{
  margin-left: 0px!important;
  margin-right: 0px!important;
  padding-left: 3px;
  padding-right: 3px;
}
.pg-select-selection__placeholder, .pg-select-search__field__placeholder{
  left: 3px!important;
}
.btn_orange{
  background-color: #FF7A00 !important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  color: #FFF!important;
  height: 37px!important;
  padding: 3px 10px!important;
}
.btn_orange:hover, .btn_orange:focus{
  background-color: #FFCC88!important;
  color: #FFF!important;
}
.btn_blue{
  background-color: #0182FE!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  color: #FFF!important;
}
.btn_blue:hover, .btn_blue:focus{
  background-color: #AACCFF!important;
  color: #FFF!important;
}
/*.btn_action_blue{
  padding: 5px 10px;
  color: #0182FE;
  background-color: #FFF;
  border-color: #0182FE;
}
.btn_action_blue:hover, .btn_action_blue:focus{
  color: #0182FE;
  background-color: #EEE;
  border-color: #0182FE;
}*/
.btn_action_tosca{
  color: #1DE9B6!important;
  background-color: #FFF!important;
  border-color: #1DE9B6!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn_action_tosca:hover, .btn_action_tosca:focus{
  color: #1DE9B6!important;
  background-color: #EEE!important;
  border-color: #1DE9B6!important;
}
.btn_action_red{
  color: #DA0000!important;
  background-color: #FFF!important;
  border-color: #DA0000!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn_action_red:hover, .btn_action_red:focus{
  color: #DA0000!important;
  background-color: #EEE!important;
  border-color: #DA0000!important;
}
.btn_action_navi{
  color: #fff!important;
  background-color: #005072!important;
  border-color: #005072!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn_action_navi:hover, .btn_action_navi:focus{
  color: #005072!important;
  background-color: #EEE!important;
  border-color: #005072!important;
}
.btn_navi{
  background-color: #005072!important;
  color: #FFF!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn_navi:hover, .btn_navi:active{
  background-color: #2288AA!important;
}
.btn_action_white{
  border: 1px solid #005072!important;
  margin-right: 7px;
  background: #fff;
  color: #005072!important;
}
h3 .bold{
  font-weight: 500!important;
}
.btn-group a{
  cursor: pointer;
}
.rounded .container{
  border-radius: 5px!important;
}
.btn{
  cursor:pointer!important;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.box-load{
  width: 100%; 
  height: 100%; 
  position: fixed; 
  z-index: 999999999999; 
  background: rgb(255,255,255,0.3); 
  padding-top:10%;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(41, 41, 41, 0.2);
  border-right: 3px solid rgba(41, 41, 41, 0.2);
  border-bottom: 3px solid rgba(41, 41, 41, 0.2);
  border-left: 3px solid #F4D40C;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media only screen and (min-width: 980px) {
  body.menu-pin .page-container {
    padding-left: 0;
  }
  body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 0px!important;
    /*padding-left: 250px;*/
  }
  body.menu-pin .page-container .page-content-wrapper .footer {
    left: 0px!important;
    /* left: 250px; */
  }
}
