<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
	<ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
	<ng-container *ngTemplateOutlet="contentTpl"></ng-container> 
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
	<!-- PAGE SIDEBAR -->
	<pg-sidebar>
		<ng-template #sideBarHeader style="background: #F4D40C;">
			<div class="text-left">
				<img src="assets/img/corpu.png" alt="logo" class="brand" pgRetina src1x="assets/img/corpu.png" src2x="assets/img/corpu.png" width="50" > <span style="color: #000; font-size:15px;">CORPU</span>
				<div class="sidebar-header-controls">
					<!-- <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" [class.active]="_menuDrawerOpen" (click)="toggleMenuDrawer()"><i class="fa fa-angle-down fs-16"></i>
					</button> -->
					<button type="button" class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none" (click)="toggleMenuPin()"><i style="font-size: 20px; color:#fff;" class="fa fa-list"></i>
					</button>
				</div>
			</div>
			<div>
				<select name="" id="" style="    border: 0px;
				border-bottom: 1px solid #000;
				width: 75%;
				height: 35px;
				background: none;">
					<option value="">CORPU CHANNEL</option>
				</select>
			</div>
		</ng-template>
		<ng-template #menuItems>
			<pg-menu-items [Items]="menuLinks">
			</pg-menu-items>
		</ng-template>
	</pg-sidebar>
	<!-- PAGE CONTAINER -->
	<page-container>	
		<pg-header [boxed]="_boxed" style="border: #000; background: #000;">
			<!-- START MOBILE SIDEBAR TOGGLE -->
			<a href="javascript:void(0);" class="btn-link toggle-sidebar d-lg-none pg pg-menu" (click)="toggleMobileSidebar()"></a>
			<!-- END MOBILE SIDEBAR TOGGLE -->
			<div class="">
				<!-- START EMAIL MOBILE TOGGLE -->
				<a href="javascript:void(0);" class="toggle-secondary-sidebar" (click)="toggleSecondarySideBar()" *ngIf="_layoutOption === 'email'">Inbox <span class="text-info">(12)</span> <span class="caret"></span></a>
				<!-- END EMAIL MOBILE TOGGLE -->

				<div class="brand inline" [class.d-none]="_layoutOption === 'email'">
					<img src="assets/img/logo-black.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo.png" width="50px">
				</div>
				<!-- END NOTIFICATIONS LIST -->
				<a href="javascript:void(0)" class="search-link d-lg-inline-block d-none" (click)="openSearch($event)"><i class="pg pg-search"></i>Type anywhere to <span class="bold">search</span></a>
			</div>
			<div class="d-flex align-items-center">
				
				<!-- END User Info-- >
				<a href="javascript:void(0)" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" (click)="openQuickView($event)"></a>-->
			</div>    
		</pg-header>
		<div class="page-content-wrapper {{_pageContainerClass}}">
			<!-- START PAGE CONTENT -->
			<div class="content {{_contentClass}}">
				<router-outlet></router-outlet>
			</div>
			<!-- END PAGE CONTENT -->
			<!-- START COPYRIGHT -->
			<ng-template [ngIf]="_footer">
				<div class=" container-fluid container-fixed-lg footer">
					<div class="copyright sm-text-center">
						<p class="small no-margin pull-left sm-pull-reset">
							<span class="hint-text">Copyright &copy; 2020</span>&nbsp;<span class="font-montserrat">Youtv</span>.&nbsp;<span class="hint-text">All rights
							reserved.</span> <span class="sm-block"><a class="m-l-10 m-r-10" href="javascript:void(0)">Terms of use</a> <span class="muted">|</span> <a class=
							"m-l-10" href="javascript:void(0)">Privacy Policy</a></span>
						</p>
		
						<div class="clearfix">
						</div>
					</div>
				</div>
				<!-- END COPYRIGHT -->
			</ng-template>
		</div>
	</page-container>
	<!-- QUICKSEARCH -->
	<!-- <app-search-overlay></app-search-overlay> -->
	<!-- QUICKVIEW -->
	<app-quickview></app-quickview>
</ng-template>

