
@import 'core.scss';

$base-img-url: "../../assets/images" !global;
$assets-url: "../../assets" !global;

@import "modules/_layout.scss";
@import "modules/_sidebar.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
@import 'modules/_split-view.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//Email App
@import 'modules/_email.scss';

//View
@import "modules/_view.scss";

//Cards
@import "modules/_cards.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Misc Helpers
@import "modules/_misc.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";

.header .brand {
    vertical-align: middle;
    width: 250px;
    text-align: right;
    margin-right: 4px;
}
@media (max-width: 992px){
    .header .brand {
        text-align: center;
        width: 180px;
        padding-right: 0px;
        padding-left: 50px;
    }
}

.page-sidebar{
    background: #F4D40C;
}
.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu{
    background: #F4D40C;
}
.icon-thumbnail{
    background: #F4D40C;
    color: #040716;
}
.page-sidebar .sidebar-header{
    background: #F4D40C!important;
    border-bottom: 0px!important;
}
.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li .icon-thumbnail{
    background: #151b26;
}
.pg-select-selection{
    background: transparent;
}

@media only screen and (min-width: 768px){
    form .row [class*='col-']:not(:first-child), form .row [class*='col-']:not(:last-child) {
        padding-right: 0px;
    }
}

.datatable-body-cell .btn{
    padding:0px!important;
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.title{
    border-block-color: transparent!important;
}
.header{
    background: #000!important;
    border-bottom: rgb(58, 58, 58)!important;
}
.header .brand{
    text-align: left!important;
    margin-left: 5px;
    width: 150px!important;
}

.page-sidebar .sidebar-header{
    background: #000;
}
.sidebar-header-controls{
    position: absolute;
    right: 5px;
    top: 5px;
}
.icon-thumbnail{
    background: #F4D40C!important;
    color: #000!important;
    border: 2px solid #000;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title{
    color: #000;
    width: 90%;
}
.page-sidebar .sidebar-header{
    height: 130px!important;
}
body.sidebar-visible .page-sidebar .menu-items .icon-thumbnail{
    width: 30px!important;
    height: 30px!important;
    line-height: 25px;
}